doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='Author' content='Onalethata Tautona <onnytau@gmail.com>')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    // CSS Start
    link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
    // CSS End
  body.ui.one.column.centered.padded.grid
        #login-form-column.four.wide.column.center.aligned
            h3.ui.header Administrator Login
            p Please provide your administrator login email.
            form.ui.form(ng-controller="" novalidate)
                div.field
                    div.ui.small.action.input
                        input(type="email" placeholder="Email")
                        button.ui.blue.button Send Token
